@model CS.Core.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Package)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Package)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDiscontinued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDiscontinued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier!.CompanyName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

<br>
<form id="addToCartForm" asp-controller="Product"
      asp-action="AddToCart" asp-route-id="@Model.Id">

    <input name="quantity" size="3" />
    <input type="submit" value="Add to Cart" />
</form>

<div id="message"></div>

@section scripts {
    <script src="~/js/cart.js" asp-append-version="true"></script>
}